/* 
    Created on : 13-feb-2020, 22:42:08
    Author     : sjm00010
*/

.container {
  max-width: 70%;
}

/* Cabecera */
.navbar{
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;
}

.menu{ 
    color: #1a1a1a;
    display: block;
    padding: 0.5rem 2rem;
    margin: 0 0.5rem;
    transition: all 0.3s linear;
    border-radius: 5px;
    text-align: center;
}
.menu:hover{ 
    color: #1a1a1a;
    background: #424242;
    color: white;
}

.logo-brand{
    min-height: 70px;
    max-height: 80px; 
}

/* Distribucion del contenido*/
.espaciado{
    margin: 2rem auto;
}

.espMen{
    margin: 1.5rem auto;
}

.eBoton{
    text-decoration:none;
    color: white;
}

.eBoton:hover{
    text-decoration:none;
    color: white;
}

.user{
    margin: 0 0.5rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.pie{
    justify-content: space-between;
    display: flex;
    align-items: baseline;
}

.carta{
    padding: 0;
    margin: 0 3%;
}