/* 
    Created on : 13-feb-2020, 22:42:08
    Author     : sjm00010
*/

/* Cabecera */
.user{
    margin: 0 0.5rem;
    justify-content: space-between;
    display: flex;
}

.menu{ 
    color: #1a1a1a;
    display: block;
    padding: 0.5rem 2rem;
    margin: 0 0.5rem;
    transition: all 0.3s linear;
    border-radius: 5px;
    text-align: center;
}
.menu:hover{ 
    color: #1a1a1a;
    background: #424242;
    color: white;
}

.logo-brand{
    min-height: 70px;
    max-height: 70px; 
}

.eBoton{
    text-decoration:none;
    color: white;
}

.eBoton:hover{
    text-decoration:none;
    color: white;
}
