/* 
    Created on : 13-feb-2020, 22:42:08
    Author     : sjm00010
*/

/* Cabecera */
.navbar{
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;
}

.menu{ 
    color: #1a1a1a;
    display: block;
    padding: 0.5rem 2rem;
    margin: 0 0.5rem;
    transition: all 0.3s linear;
    border-radius: 5px;
}
.menu:hover{ 
    color: #1a1a1a;
    background: #424242;
    color: white;
}

.logo-brand{
    min-height: 70px;
    max-height: 80px; 
}

/* Distribucion del contenido*/
.principal{
    margin: 3rem auto;
}
.registro{
    margin: 3rem auto;
}

.registro a{
    text-decoration:none;
    color: white;
}