/* 
    Created on : 13-feb-2020, 22:42:08
    Author     : sjm00010
*/

/* Parrafos */
p{
    margin-bottom: 1.6em;
}

/* Alineacion para menu y registro */
.logo-reg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
}

/* Inicio de sesion */
.user_icon{
    margin: 1rem;
}

/* Fondo de la barra */
.barra-menu{
    background: #D8D8D8;
    padding: 0.5rem 0;
}

/* Distribucion de la barra */
.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
}

/* Distribucion del menu */
.menu ul{
    margin: 0 2rem;
    padding: 0;
    list-style: none;
}

/* Distribucion de las opciones del menu */
.menu ul li{
    display: inline-block;
}

/* Distribucion de las opciones del menu */
.menu ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
    border-radius: 5px;
}

/* Animacion del menu */
.menu ul li a:hover{
    background: #424242;
    color: white;
}

/* Distribucion del contenido*/
.principal{
    width: 85%;
    max-width: 85%;
    margin: 3rem auto;
}

.pie{
    background: #2E2E2E;
    padding: 2rem 0;
    text-align: center;
    margin-top: 4rem;
    color: white;
}
