<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <!-- Activa los mensajes de error -->
        <param-value>Production</param-value>
        <!-- Otros valores: Production, SystemTest, UnitTest -->
    </context-param>
    
    <!-- Para cargar los estilos de Bootstrap -->
    <context-param>
        <param-name>BootsFaces_USETHEME</param-name>
        <param-value>default</param-value>
    </context-param>
    <context-param>
        <param-name>BootsFaces_THEME</param-name>
        <param-value>custom</param-value>
    </context-param>
    
    <data-source>
        <name>java:global/jdbc/vetuja</name> <!-- JNDI resource -->
        <class-name>org.h2.jdbcx.JdbcDataSource</class-name> <!-- Driver -->
        <url>jdbc:h2:~/h2db/vetuja;AUTO_SERVER=TRUE</url> <!--DB in user folder -->
        <user>dawuser</user>
        <password>dawuser</password>
        <initial-pool-size>2</initial-pool-size>
        <max-pool-size>10</max-pool-size>
        <min-pool-size>5</min-pool-size>
    </data-source>

    <session-config>
        <session-timeout> 30 </session-timeout> <!-- tiempo de inactividad -->
        <cookie-config>
            <http-only>true</http-only> <!-- evita acceso desde javascript -->
            <secure>false</secure> <!-- true para forzar enviar por conexión segura TLS-->
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode> <!-- desactiva id de sesión en urls -->
    </session-config>
    
    <!-- Roles de usuarios que se van a utilizar en las reglas -->
    <security-role>
        <role-name>USUARIOS</role-name>
    </security-role>
    <security-role>
        <role-name>ADMINISTRADORES</role-name>
    </security-role>
    
    <!-- Reglas de control de acceso: security-constraint, puede haber varias -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Administradores</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ADMINISTRADORES</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Identificados</web-resource-name>
            <url-pattern>/common_users/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ADMINISTRADORES</role-name>
            <role-name>USUARIOS</role-name>
        </auth-constraint>
    </security-constraint>
    
    <welcome-file-list>
        <welcome-file>inicio/inicio.jsf</welcome-file>
    </welcome-file-list>
</web-app>
